

.container {
	max-width: 80%;
	margin: auto;
}

.day {
	max-width: 80%;
	margin: auto;
	border: 2px solid salmon;
	background: #e2e2e2;
}

.dayOfTheWeek {
	font-size: 26px;
	display: inline-block;
	float: left;
	padding: 10px 20px;
	font-family: cursive;
}


hr {
	margin-top: -20px;
	border: 1px dashed salmon;
}

.newAppointment {
	display: none;
	text-align: right;
}

.newApp {
	font-family: cursive;
	border: 1px solid black;
	width: 94%;
	margin: auto;
	font-size: 14px;
	padding: 10px;
	line-height: 8px;
}

.app-title {
	font-size: 25px;
	margin-top: 10px;
}

.app-loc {
	color: #666666;
	margin-left: 30px;
}

.app-times {
	font-size: 20px;
	float: right;
	margin-top: -74px;
}


.addNew {
	max-width: 60%;
	margin: auto;
	text-align: center;
	margin-top: 10%;
	margin-bottom: 10%;
	font-family: cursive;
	color: #666666;
	cursor: pointer;
}

.app-nfo {
	margin-right: 30%;
	font-family: cursive;
	color: salmon;
}

.app-nfo label {
	vertical-align: top;
}

.app-nfo input, textarea, button {
	border-radius: 5px;
	border: 1px solid salmon;
	margin: 0px 10px 10px;
}

.change-app {
	float: right;
	margin-top: -20px;
}

button, #submit {
	margin: 10px;
	background: white;
}

.color {
	color: salmon;
}

.notes {
	border-top: 2px dashed salmon;
	margin: 40px;
	padding: 15px;
	line-height: 17px;
}

#delete {
	margin-top: -5px;
}

@media screen and (min-width: 670px) {
	.date {
		padding: 10px 20px;
		display: inline-block;
		font-family: cursive;
		color: salmon;
		font-size: 60px;
		margin-left: -48px;
		opacity: 0.5;
	}
}

@media screen and (max-width: 670px) {
	.date {
		font-family: cursive;
		color: salmon;
		font-size: 41px;
		opacity: 0.5;
		margin-top: -38px;
		margin-bottom: 20px;
		clear: both;
	}

	.dayOfTheWeek {
		padding: 0px 20px;
	}

	.app-nfo {
		text-align: center;
		margin-right: 10%;
	}
	.container {
		width: 100%;
	}
	.newApp {
		padding: 4px;
	}
	.app-times {
		margin-top: -49px;
	}
	.app-loc {
		padding-bottom: 30px;
	}
	#delete {
		margin-top: 10px;
	}
}

@media screen and (max-width: 410px) {
	.app-nfo textarea {
		width: 100%;
	}
}

@media screen and (max-width: 330px) {
	.day {
		width: 100%;
	}

	.app-nfo input, button {
		width: 100%;
	}

	#delete {
		margin-left: 0px;
	}
}