

.container {
	width: 80%;
	margin: auto;
}

.day {
	width: 80%;
	margin: auto;
	border: 2px solid salmon;
	background: #e2e2e2;
}

.dayOfTheWeek {
	font-size: 26px;
	display: inline-block;
	float: left;
	padding: 10px 20px;
	font-family: cursive;
}

.date {
	padding: 10px 20px;
	display: inline-block;
	font-family: cursive;
	color: salmon;
	font-size: 60px;
	margin-left: -48px;
	opacity: 0.5;
}

hr {
	margin-top: -20px;
	border: 1px dashed salmon;
}

.newAppointment {
	display: none;
	text-align: right;
}

.newApp {
	font-family: cursive;
	border: 1px solid black;
	width: 94%;
	margin: auto;
	font-size: 14px;
	padding: 10px;
	line-height: 8px;
}

.app-title {
	font-size: 25px;
	margin-top: 10px;
}

.app-loc {
	color: #666666;
	margin-left: 30px;
}

.app-times {
	font-size: 20px;
	float: right;
	margin-top: -60px;
}

.addNew {
	width: 60%;
	margin: auto;
	text-align: center;
	margin-top: 10%;
	margin-bottom: 10%;
	font-family: cursive;
	color: #666666;
	cursor: pointer;
}

.app-nfo {
	/*padding: 10px;*/
	margin-right: 30%;
	font-family: cursive;
	color: salmon;
}

.app-nfo label {
	vertical-align: top;
}

.app-nfo input, textarea, button {
	border-radius: 5px;
	border: 1px solid salmon;
	margin: 0px 10px 10px;
}

.change-app {
	float: right;
	margin-top: -20px;
}

button, #submit {
	margin: 10px;
	background: white;
}

span {
	color: salmon;
}

.notes {
	border-top: 2px dashed salmon;
	margin: 40px;
	padding: 15px;
}